[submodule "external/nango"]
	path = external/nango
	url = https://github.com/NangoHQ/nango.git
[submodule "external/browser-use"]
	path = external/browser-use
	url = https://github.com/browser-use/browser-use.git
[submodule "external/jj"]
	path = external/jj
	url = https://github.com/martinvonz/jj.git
[submodule "external/whisper-rs"]
	path = external/whisper-rs
	url = https://github.com/tazz4843/whisper-rs.git
[submodule "external/readability"]
	path = external/readability
	url = https://github.com/mozilla/readability.git
